

.boddy {

    background-image: url("images/final_bg.jpeg");
    background-size: cover;

}



.corosel_slider {
    padding-left: 0px;
    padding-right: 0px;
    height: 500px;
}

.HoverOpacity-hover{

           opacity:0.2;
    filter: alpha(opacity=50);
}
.item{
       height: 500px;
}

.text{
    size: 25px;
    font-weight: bold;
    font-variant: full-width;
    font-style: italic;
    color: black;
}


.search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

.bodyContainer{
    background-image: url("images/white_bg.png");
    background-size: cover;
}



#foot{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

h3{
    color: #ffffff;
}

div.social{
    float: left;
    margin-top: 10px;
}

a.social{
    margin-right: 15px;
}

div.contact{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

label{
    color: #000;
}

input.text{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: none;
}
textarea.message{
    height: 80px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

input.submit{
    width: 60px;
    height: 30px;
    background-color: cornflowerblue;
    color: black;
    border: black;
    border-radius: 5px;
}

input.submit:hover{
    text-decoration: underline;
}

footer {
    background-color: #777;
    padding: 10px;
    color: black;
    height: 400px;
}

feedback_body{
    text-align: center;
}